.page-header
  %h2
    Créer un compte
  .row-fluid
    .span6
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          = f.input :username, :required => true, :autofocus => true
          = f.input :email, :required => true
          = f.input :password, :required => true
          = f.input :password_confirmation, :required => true
        .form-actions
          = f.button :submit, "Sign up"
      = render "devise/shared/links"
    .span6
      = link_to "Créer avec Facebook", user_omniauth_authorize_path(:facebook), :class => 'facebook-connect'
      .clearfix
      = link_to "Créer avec Google", user_omniauth_authorize_path(:google_oauth2), :class => 'google-connect'