.page-header
  %h2
    Connexion
  .row-fluid
    .span6
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .form-inputs
          = f.input :login, :required => false, :autofocus => true
          = f.input :password, :required => false
          = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
        .form-actions
          = f.button :submit, "Sign in"
      = render "devise/shared/links"
    .span6
      = link_to "Connexion Facebook", user_omniauth_authorize_path(:facebook), :class => 'facebook-connect'
      .clearfix
      = link_to "Connexion Google", user_omniauth_authorize_path(:google_oauth2), :class => 'google-connect'